h1{
 text-align: center;
 font: Normal 80pt Poiret One;
 color:#1D3557;
 
}
button{
    font-size: 175px;
    border:none;
    background-color:#e63947cc;
    position:absolute;
    top:  41%;
    left: 42%;
    transition: background-color 0.2s;
    border-radius: 25%;
    width:  200px;
    height: 200px;
    box-shadow: 3px 3px 3px #1d3557a2;
    
    
}
button:hover{
    outline-color: #1D3557;
    background-color: #d63340;
    transform: scale(1.15);
    transition: 0.3s;
    cursor: pointer;
}


body{
    background-color: #f1faee;


    
}
